*.user
bin/
obj/
packages/
node_modules/
.vs/
/NaturalEventsViewer/NaturalEventsViewer.Client/dist/

# We include the following one for the ease of initial start
# /NaturalEventsViewer/NaturalEventsViewer.Web/dist/
